body {
  background: #f3fcff url("./images/bg.jpg") center  repeat-y;
  background-size: cover;
}

@font-face {
  font-family: "Rouge Script";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/rouge-script.ttf");
}
