@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f3fcff url('./images/bg-2.jpg') fixed repeat;
  background-size: auto;
}

@font-face {
  font-family: 'Rouge Script';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/rouge-script.ttf');
}
